@media only screen and (max-width: 600px) {
  body #html-body {
    background: #555;
    margin-left: 0;
  }
}

body {
  background: #bbbaba;
}

/* ________________________________________________________________________________________________________ */
/*MAIN PAGE CONTENT*/
.main-page {
  position: static;
  margin-left: 200px;
  height: 900px;
}

/* ________________________________________________________________________________________________________ */
/* SIGN-IN FORM STYLING */
.form-container {
  width: 300px;
  background: linear-gradient(
    180deg,
    rgb(73, 73, 73) 25%,
    rgb(139, 174, 179) 20%
  );
  height: 350px;
  /* Temporary hidden */
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20%;
  left: 50%;
  border-radius: 3%;
  transform: translate(-50%, -10%);
  z-index: 999;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form-container p {
  position: absolute;
  top: 0%;
  left: 10%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: rgb(139, 174, 179);
}

.form-container label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 15px;
}

.form-container .username {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: bisque;
}
.form-container .password {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: bisque;
}

.form-container .username:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}
.form-container .password:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.form-container button {
  border: none;
  height: 30px;
  margin-top: 30px;
  background-color: rgb(73, 73, 73);
  color: bisque;
  font-size: 15px;
  border-radius: 5%;
}
.form-container button:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 3px 0px #212529;
}
/* ________________________________________________________________________________________________________ */
/* SIDE NAVIGATION BAR STYLING*/
.logo {
  display: block;
  width: 196px;
  border-radius: 10px;
  border: 2px solid #212529;
  height: auto;
  margin-bottom: 20px;
}

#side-nav-bar {
  width: 200px; /* Set the desired width */
  height: 100vh; /* Adjust the height as needed */
  background-color: #555;
  position: fixed; /* Set the position to fixed */
  left: 0; /* Position it to the left */
  top: 0; /* Position it at the top */
  overflow: auto; /* Overflow due to float */
}

#side-nav-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding-top: 10px;
  transition: all 1s ease; /* Add transition for hover effects */
  color: bisque; /*text color */
  font-size: 20px; /* Increased font-size */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  height: 110px;
}

#side-nav-bar a:hover {
  background-color: #40464b; /* Add a hover color */
  border-radius: 10px;
}

.active {
  background-color: #3d3439; /* Add an active/current color */
  border-radius: 10px;
  transition: all 3s ease;
}

/* ________________________________________________________________________________________________________ */
/* ICON STYLING */
#side-nav-bar #home {
  color: rgb(114, 230, 243);
  font-size: 50px;
}
#side-nav-bar #about {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #contact {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #repo {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #cvicon {
  color: rgb(139, 174, 179);
  font-size: 50px;
}

#side-nav-bar a #cv:hover {
  transition: 1s;
}

.flip {
  rotate: 20deg;
}

/* ________________________________________________________________________________________________________ */
/* PORTFOLIO HOME SECTION */
.portfolio-content-section {
  position: relative;
  width: 100%;
  height: 960px;
  margin: 0 auto;
  background-color: rgb(139, 174, 179);
  border-radius: 10px;
}

.header-portfolio {
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  font-size: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #555;
  text-shadow: 0 0 10px bisque, 0 0 10px bisque, 0 0 10px bisque,
    0 0 10px #2e2d2d, 0 0 50px #2e2d2d, 0 0 10px #2e2d2d, 0 0 20px #2e2d2d;
}

.h2-portfolio {
  color: #000000;
  font-size: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer-portfolio {
  position: relative;
  top: 128px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #747474;
}

/* ________________________________________________________________________________________________________ */
/* ABOUT ME SECTION */
.aboutme-content-section {
  position: relative;
  width: 100%;
  height: 960px;
  margin: 0 auto;
  background-color: rgb(139, 174, 179);
  border-radius: 10px;
}

.header-about {
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  font-size: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #555;
  text-shadow: 0 0 10px bisque, 0 0 10px bisque, 0 0 10px bisque,
    0 0 10px #2e2d2d, 0 0 50px #2e2d2d, 0 0 10px #2e2d2d, 0 0 20px #2e2d2d;
}

.h1-skills {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: -20px;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}

.h1-hobbies {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: -20px;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}

.para-about {
  margin-top: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  text-align: center;
  word-break: break-word;
  margin-bottom: 10px;
}

ul {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  list-style-type: disc;
}

.h1-personals {
  margin-left: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}

.footer-about {
  position: relative;
  top: 213px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #747474;
}

/* ________________________________________________________________________________________________________ */
/* CONTACT ME SECTION */
.contactme-content-section {
  position: relative;
  width: 100%;
  height: 960px;
  margin: 0 auto;
  background-color: rgb(139, 174, 179);
  border-radius: 10px;
}

.header-contact {
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  font-size: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #555;
  text-shadow: 0 0 10px bisque, 0 0 10px bisque, 0 0 10px bisque,
    0 0 10px #2e2d2d, 0 0 50px #2e2d2d, 0 0 10px #2e2d2d, 0 0 20px #2e2d2d;
}

.contact-para {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.h2-contact {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
}
.para-message {
  margin-left: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: justify;
  font-size: 30px;
}
/* CONTACT FORM STYLING */
.contact-container {
  display: flex;
  flex-direction: column;
}
.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form {
  width: 200px;
  margin-left: 25px;
  margin-bottom: 10px;
  padding: 5px;
  height: 35px;
  border: solid 1px rgb(83, 83, 83);
  border-radius: 5px;
  background-color: bisque;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.contact-form-message {
  width: 300px;
  height: 100px;
  padding: 5px;
  margin-left: 25px;
  margin-bottom: 10px;
  border: solid 1px rgb(83, 83, 83);
  border-radius: 5px;
  background-color: bisque;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.contact-form-message:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.contact-form:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.label-text {
  font-weight: bold;
  font-size: 15px;
  margin-left: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}

.button-send-message {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-left: 25px;
  z-index: 1;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  box-shadow: 4px 8px 19px -3px#212529;
  transition: all 250ms;
  overflow: hidden;
  border: unset;
  border-radius: 5px;
  background-color: bisque;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.button-send-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 5px;
  background-color: #6d5564;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #212529;
  box-shadow: 4px 8px 19px -3px #212529;
  transition: all 400ms;
}
/* ________________________________________________________________________________________________________ */
/* INTRO PARAGRAPH STYLING */
.para {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  text-align: center;
  word-break: break-word;
  margin-bottom: 30px;
  margin-top: 0;
}

.footer-contact {
  position: relative;
  top: 141px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #747474;
}

/* ________________________________________________________________________________________________________ */
/* IMAGE CONTAINER STYLING */
.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  /* width: 33.33%; */
  width: 30%;
  height: 501px;
  border-radius: 10px;
  margin-right: 50px;
  margin-bottom: 20px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 4);
}

.image-container img:last-child {
  margin-right: 0;
}
/* ________________________________________________________________________________________________________ */
/* BUTTONS */
.button {
  z-index: 1;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  box-shadow: 4px 8px 19px -3px#212529;
  transition: all 250ms;
  overflow: hidden;
  border: unset;
  border-radius: 5px;
  background-color: bisque;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 5px;
  background-color: #6d5564;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #212529;
  box-shadow: 4px 8px 19px -3px #212529;
  transition: all 400ms;
}

button:hover {
  color: bisque;
}

button:hover::before {
  width: 100%;
}
/* ________________________________________________________________________________________________________ */
/* HORIZONTAL LINES */
.line-portfolio {
  position: relative;
  width: 90%;
  border-color: #212529;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.line-about {
  position: relative;
  width: 90%;
  border-color: #212529;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.line-contact {
  position: relative;
  width: 90%;
  border-color: #212529;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.line-column {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #212529;
}

.h2-div {
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 25px;
}

/* ________________________________________________________________________________________________________ */
/* COLUMN */
.column-heading {
  background-color: #555;
  margin-top: -20px;
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: -5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  text-shadow: 0 0 10px bisque, 0 0 10px bisque, 0 0 10px bisque,
    0 0 10px #2e2d2d, 0 0 50px #2e2d2d, 0 0 10px #2e2d2d, 0 0 20px #2e2d2d;
}

.column-section {
  background-color: rgb(139, 174, 179);
  border-radius: 10px;
  height: 92vh;
}

.column-container {
  display: block;
  column-count: 3;
}

.column-1,
.column-2 {
  /* border-bottom: solid 1px rgb(110, 110, 110); */
  border-right: 1px solid rgb(110, 110, 110);
  background-color: bisque;
  float: left;
  width: 32.13%;
  padding: 10px;
  height: 300px;
}
.column-3 {
  /* border-bottom: solid 1px rgb(110, 110, 110); */
  background-color: bisque;
  float: left;
  width: 32.1%;
  padding: 10px;
  height: 300px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}
